 body {
  background-color: #FFFCFB;
  padding: 0px;
  margin: 0 auto;
  font-family: 'hkgrotesk-regular', sans-serif;
  float: none;
  font-weight: normal;
  animation: fadein 2s;
}

@font-face {
  font-family: NeueAlteGrotesk;
  src: url(39BD6E_4_0.woff);
  font-weight: normal;
}

@font-face {
  font-family: HKGrotesk;
  src: url(HKGrotesk-Regular;)
  font-weight: normal;
}

@font-face {
  font-family: HKGrotesk;
  src: url(HKGrotesk-Medium;)
  font-weight: bold;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


html {
  scroll-behavior: smooth;
}

.content_container {
    max-width: 1400px;
      margin: 0 auto;
}

.hero__text p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

.site-nav {
  margin: 50px 5% 0px 5%;   /* Removes default margins from h1 element */
  font-size: 18px;
  z-index: 1;
  max-width: 100%;
  min-height: 150px;
}

.site-nav ul {
  margin-top: 0;
}

.site-nav li {
  display: inline-block; /* Makes list items go horizonally instead of vertically */
}

.site-nav a {
	text-decoration: none;
  color: black;
}

.site-title {
  float: left;
  list-style: none;
  padding: 0px;
  margin-right: 20px;
  vertical-align: top;
  /*position: fixed;*/
  font-size: 18px;
}

.site-title p {
  margin: 0px 0px 0px 40px;
  font-size: 18px;
  width: 60%;
  vertical-align: top;

}

.nav-items {
	list-style: none;
  right: 0;
  margin: 0px 0 0px 0px;
  float: right;
  /*position: fixed;*/
  padding: inherit;
}

.nav-items a:hover {         
  color: #737373;
  -webkit-transition: color 0.3s ease-out;
 -moz-transition: color 0.3s ease-out;
 -o-transition: color 0.3s ease-out;
 -ms-transition: color 0.3s ease-out;
 transition: color 0.3s ease-out;
}

.nav-items ul {
  padding-right: 40px;
}

.nav-items li {
    margin-left: 40px;
    right: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: black;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 0px 0% 0px 0%;
  text-decoration: none;
  font-size: 46px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 5%;
  font-size: 30px;
  line-height: 16px;
}

.overlay-content a {
  margin-bottom: 50px;
}

.hamburger {
  padding: 0px;
  margin: 0px;
  float: right;
  display: none;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.text {
	padding: 50px 0px 300px 0px;
  margin-left: 5%;
  margin-right: 5%;
	font-size: 26px;
	text-align: left;
  font-weight: lighter;
}

.text h1 {
   margin-top: 0px;
   font-size: 46px;
   line-height: 58px;
  /*font-size: 74px;
  line-height: 96px;*/
  color: 0023FF;
  font-weight: normal;
    max-width: 60%;
}

.text h2 {
  font-size: 28px;
  line-height: 38px;
  max-width: 770px;
  font-weight:lighter;
  float: left;
  max-width: 60%;
  margin: 0px 20% 200px 0%;
}

.text a {
  margin-right: 0px;
  text-decoration: none;
  padding-bottom: 2px;
  /*border-bottom: 1px solid black;*/
  color: #737373;
}

.text h2 a:hover {
    text-decoration: underline;
}

.text p {
  font-size: 28px;
  max-width: 100%;
  padding: 80px 0px 0px 0px;
  margin: 0px;
  float: left;
  line-height: 38px;
  display: block;
}

.cards {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.hero {
  display: inline-block;        /* Creates a block level element (ie one that can have a width/height, margins etc) */
  margin: 50px 5% 150px 5%;
  padding: 0px;
  text-decoration: none; /* Removes the default underline from links */
  color: black;
}

.hero a {
  text-decoration: none;
  color: black
}

.hero a:hover {
  text-decoration: underline;
}

.herotwo {
  margin: 0px 135px 160px 135px;
  padding: 0px;
  text-decoration: none; /* Removes the default underline from links */
  color: black;

}

.hero__text {
  text-align: left;
  font-size: 28px;
  display: block;
  text-decoration: none;
  margin: 20px 0px 0px 0px;
  font-weight: normal;
}

.hero__text p {
    margin-top: 40px
  margin-bottom: 20px;
  color: #606060;
}

.hero__text h1 {
  font-weight: normal;
  font-size: 28px;
  max-width: 50%;
  text-decoration: none;
}

.hero__image,
.hero__text {
  max-width: 100%;
}

.hero__image{
  display: block;
  float: left;
  vertical-align: top;
  margin-bottom: 40px;
}

.tag {
  margin-top: 40px
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  display: inline;
  color: #b1b1b1;

}

.about {
  margin: 50px 5% 100px 5%;
  font-size: 18px;
  text-align: left;
  max-width: 60%;
  padding: 0px;
    text-decoration: none;
}

.about a {
  text-decoration: none;
  color: #737373;
}

.about li {
  display: inline-block;
  padding-right: 60px;
}

.about a:hover {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease-out;
 -moz-transition: color 0.3s ease-out;
 -o-transition: color 0.3s ease-out;
 -ms-transition: color 0.3s ease-out;
 transition: color 0.3s ease-out;
}


.about h1 {
  padding-bottom: 50px;
  font-size: 46px;
  line-height: 58px;
  font-weight: lighter;
    text-decoration: none;
}

.about h2 {
  font-size: 28px;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
}

.about h4 {
  font-size: 14px;
}

.about h3 {
  font-weight: normal;
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 80px 0px;
  font-size: 20px;
  width: 125%;
  line-height: 36px;
}

.about p {
  font-size: 14px;
  line-height: 28px;
  margin: 0px 0px 40px 0px;
  max-width: 470px;
}

.cards p {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: normal;
}


.text a:hover{
  text-decoration: none;

}


.div6 {
width: 100%;
float: left;
padding-right: 130px;
}

.div7{
width: 100%;
float: left;
text-align:left;
margin-bottom: 300px;
}


footer {
   display: block;
   bottom: 0;
   width:100%; 
   overflow: hidden;
   float: left;
   padding-left: 0;
   margin-top: 50px;
   /*border-top: 1px solid;
   border-color: #737373;
   /*background-color: #141414;*/
   color: white;
}

.Footer_CTA {
  width: 80%;
  margin: 150px 5% 150px 5%;
  align-content: left;
  text-align: left;
  max-width: 1400px;
  color: black;
}

.Footer_CTA h1 {
    font-size: 46px;
    line-height: 68px;
}

.Footer_CTA h1 a:hover {
    text-decoration: underline;
}


footer a {
    text-decoration: none;
    color: #737373;
}

footer li {
  	font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    list-style: none;
}

footer li a {
	color: black;
}

footer a:hover {
  color: #737373;
  -webkit-transition: color 0.3s ease-out;
 -moz-transition: color 0.3s ease-out;
 -o-transition: color 0.3s ease-out;
 -ms-transition: color 0.3s ease-out;
 transition: color 0.3s ease-out;
}

footer p {
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 50px 0px;
  color: #b1b1b1;
}

.view_portfolio {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 200px;
}

.view_portfolio a:hover {
    border-bottom: 2px solid black;
}


.description {
  margin: 0px 80px 80px 80px;
}



.content__image {
  width: 90%;
  margin: 0px 5% 0px 5%;
  overflow: hidden;
}

.content_text {
  margin: 300px 25% 300px 25%;
}


.content_text h2 {
  max-width: 770px;
  font-size: 24px;
  line-height: 48px;
  margin: 150px 0px 40px 0px;
  font-weight: normal;
}

.content_text p {
  font-size: 18px;
  line-height: 32px;
  margin: 0px 0px 40px 0px;
  max-width: 770px;
}

@media only screen and (max-width: 1200px) {

  .article__featured__image__wrapper {
    max-width: 90%;

    /* The next two rules will centre a div or block level element 
    when it has an explicit width or max-width defined
    */

    margin-left: auto;
    margin-right: auto;
  }

  .article__featured__image {
    width: 100%;
    margin: 0;
  }

  .content_text .article__content {
    margin: auto auto 0;

  }

  .content_text .article__header {
    max-width: 770px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.full__image {
  max-width: 100%;
  padding: 0px 0px 140px 0px;
}

#body__text {
  max-width: 50%;
  font-size: 14px;
  margin: 0px 0px 150px 0px;
  line-height: 30px;
  display: inline-block;
  text
}

#outter{
font-size: 18px;
padding: 50px 5% 0px 5%;
}


.page_title {
  font-weight: normal;
  font-size: 18px;
}

.page_title h1 {
  
}

.page_title p {
    padding: 50px 0px 85px 135px;
}

#div1 {
  width: 48%;
  float: left;
  font-size: 28px; 
  font-weight: 500;
  line-height: 40px;
  padding-right: 30px;
  font-weight: normal;
}

#div1 p{
    font-size: 18px;
    color: #c6c6c6;
    font-weight: normal;
}

#div2{
width: 48%;
float: left;
text-align:left;
line-height: 38px;
font-weight: ;
padding-bottom: 200px;
}

#div2 a {
  text-decoration: none;
  color: black;
  border-bottom: 2px black solid;
}

#div2 a:hover {
  border-bottom: none;
}

#container{
width: 80%
font-size: 18px;
margin: 100px 5% 100px 5%;
text-decoration: none;
}

#container_div3 {
width: 25%;
float: left;
display: inline-block;
}


#container_div4{
width: 30%;
text-align: Left;
display: inline-block;
}

#container_div5 {
  width: 30%;
  float: right;
  text-align: right;
  bottom: 0;
  position: relative;
  text-align: bottom;
  vertical-align: bottom;
  vertical-align: text-bottom;
}

#container_div5 a:hover {
  border-bottom: none;
}

#container_div6 {
  display: inline-block;
  width: 25%;
}


.about h5 {
  font-size: 14px;
  margin: 0px;
}

.about__image {
  float: right;
  width: 50%;
  padding-right: 135px;
}

.blocks {
  width: 100%;
  margin: 0px 135px 0px 135px;
  padding: 0px;
}

.articles {
  display: inline-block;        /* Creates a block level element (ie one that can have a width/height, margins etc) */
  margin: 0px 0px 80px 0px;
  padding: 0px;
  text-decoration: none; /* Removes the default underline from links */
  color: black;
  width: 40%;
}

.articles__text {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.articles__text p {
  margin: 0;
  padding: 0px;
  font-size: 36px;
}

.articles__text h1 {
  font-weight: normal;
}

.articles__image,
.articles__text {
  max-width: 100%;
}

.articles__image{
  margin-bottom: 10px;
  transition: .3s ease-in-out;
}

.blog__image {
  width: 70%;
  margin: 0px 235px 0px 235px;
}

.contact h1 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 56px;
}

.contact {
  margin: 0px 135px 0px 135px;
  font-size: 18px;
  text-align: left;
  max-width: 50%;
  padding: 0px;
}

.contact a {
  text-decoration: none;
  color: black;
  border-bottom: 2px black solid;
  font-weight: bold;
  margin-right: 40px;
}

.contact a:hover {
  border-bottom: none;
}

.contact p {
  font-size: 14px;
  line-height: 28px;
  margin: 0px 0px 40px 0px;
  max-width: 470px;
}


.image__beta {
  width: 80%;
  margin: 0px 135px 0px 0px;
}


#outter_charlie {
font-size: 18px;
line-height: 38px;
padding: 200px 5% 0px 5%;
max-width: 60%;
}

#outter_charlie h3 {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-size: 28px;
  line-height: 48px;
  font-weight: normal;
  max-width: px;
}

#outter_charlie a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-bottom: 1px;
  border-color: black;
}

#div6 {
width: 40%;
float: left;
padding-right: 130px;
color: #5a5c63;
}

#div7{
width: 40%;
float: left;
text-align:left;
margin-bottom: 300px;
color: #5a5c63;
}

#outter_delta{
font-size: 18px;
padding: 200px 5% 0px 5%;
}

#outter_delta p {
  padding-bottom: 20px;
  margin: 0px;
  line-height: 32px;
}

#outter_delta h1 {
  font-size: 28px;
  padding-bottom: 50px;
  font-weight: normal;
}

#outter_delta h2 {
  font-size: 24px;
  padding-bottom: 30px;
  margin: 0px;
  font-weight: 500;
}

#outter_delta h5 {
  font-size: 18px;
  color: #737373;
  font-weight: normal;
}


#div8 {
width: 42%;
float: left;
padding-right: 130px;
}



#div9{
width: 42%;
float: right;
text-align:left;
padding-bottom: 100px;
}

.article {
  margin: 0px 0px 50px 0px;
  align-content: center;
}

.article_tag {
  padding: 0px 0px 200px 235px;
}

.article_tag h1 {
  font-size: 14px;
  margin: 0px;
}

.article_tag p {
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

.article h1 {
  max-width: 870px;
  padding: 0px 25% 0px 25%;
  font-size: 46px;
  line-height: 62px;
}

.article h3 {
  padding: 110px 235px 150px 235px;
  margin: 0px;
  font-size: 38px;
  line-height: 58px;
  font-weight: normal;
  max-width: 970px;
}

.article h2 {
  font-size: 24px;
  line-height: 38px;
  margin: 150px 25% 40px 5%;
  font-weight: normal;
  align-content: center;
}

.article p {
  font-size: 18px;
  line-height: 32px;
  margin: 0px 25% 40px 5%;
  max-width: 770px;
}

.image_tag {
  padding: 0px 0px 0px 5%;
  font-size: 18px;
  color: #737373;
}

.article__image {
    width: 80%;
    margin: 0px 235px 0px 235px;
}

/* Articles */

.cards_beta {
  width: 100%;
  margin: 0px 0px 0px 135px;
  padding: 0px;
}

.cards_beta h4 {
  font-size: 14px;
  color: #606060;
  font-weight: normal;
  margin: 50px 0px 30px 0px;
}

.cards_beta p {
  font-size: 18px;
  line-height: 38px;
  margin: 10px 0px 30px 0px;
  width: 80%;
}

.cards_beta a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero_beta {
  display: inline-block;        /* Creates a block level element (ie one that can have a width/height, margins etc) */
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-decoration: none; /* Removes the default underline from links */
  color: black;
  width: 46%;
}


.hero_textbeta {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;          /* Removes the default bottom margin */
  letter-spacing: px;       /* Adds space between letters so you don't have to type them manually */
  font-size: 24px;
  font-weight: 500;
  width: 50%;
}

.hero_textbeta p {
  margin: 0;
  padding: 0px;
  font-size: 36px;
}

.hero_textbeta h1 {
  font-weight: normal;
  font-size: 24px;
}

.hero_imagebeta,
.hero_textbeta {
  width: 100%;
}


.hero_2 {
  display: inline-block;        /* Creates a block level element (ie one that can have a width/height, margins etc) */
  margin: 0px 0px 80px 0px;
  text-decoration: none; /* Removes the default underline from links */
  color: black;
  width: 46%;
  float: right;
  /*ursor: url(view.svg) 0 6,e-resize;*/

}

.column_left {
  float: left;
  width: 45%;
}

.column_right {
  float: left;
  width: 45%;
  padding-left: 130px;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
    padding: 0px 135px 100px 135px;

}

.column_beta_left {
  float: left;
  width: 48%;
  padding: 0px 15px 100px 0px;
  display: inline-block;
}

.column_beta_right {
  float: right;
  width: 48%;
  padding: 0px 0px 100px 15px;
  display: inline-block;
}


/* Clear floats after image containers */
.row_beta::after {
  content: "";
  clear: both;
  display: table;
}

.row_beta a {
  text-decoration: none;
  color: black;
}

.row_beta {
    padding: 0px 5% 0px 5%;

}

.row_beta h1 {
  font-weight: normal;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  font-size: 24px;
  line-height: 38px;
  font-weight: normal;
}


.row_beta h3 {
  font-weight: normal;
  margin: 0px;
    padding: 30px 0px 20px 0px;
  font-size: 18px;
  color: #b1b1b1;
  font-weight: ;
}

.row_beta p {
  margin: 0px 0px 40px 0px;
  font-weight: normal;
  padding: 0px;
  font-size: 18px;
}

.column_link {
  text-decoration: none;
  color: black;
  margin: 0px;
  font-weight: normal;
  padding: 0px 0px 2px 0px;
  font-size: 18px;
  border-bottom: 1.5px solid black;
}

.column_link:hover {
  border-bottom: none;
}



#wrapper {
  margin: 60px 5% 200px 5%;
}

#outer {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.itemwrapper_left {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-right: 30px;
}

.itemwrapper_right {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-left: 100px;
}

#wrapper img {
  max-width: 100%;
  height: auto;
}

#wrapper-50 {
  margin: 60px 135px 200px 135px;
}

#outer {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.itemwrapper-50_left {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-right: 30px;
}

.itemwrapper-50_right {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-left: 30px;
}

#wrapper-50 img {
  max-width: 100%;
  height: auto;
}

.page_tag {
  padding: 200px 0px 0px 135px;
}

.page_tag h1 {
  font-size: 24px;
  font-weight: lighter;
  
}

.page_tag p {
    padding: 0px 0px 20px 0px;
}

.padding-block {
	height: 150px;
}

@media only screen and (max-width: 1100px) {

  #outter_charlie {
  font-size: 18px;
  line-height: 38px;
  padding: 100px 5% 0px 5%;
  margin-bottom: 0px;
  max-width: 100%;
  }

  #div6, #div8 {
  font-size: 18px;
  line-height: 38px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 50px;
  width: 100%;
  }

  #div9 {
  font-size: 18px;
  line-height: 38px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 200px;
  width: 100%;
  }

  #div7 {
    padding-bottom: 00px;
    width: 100%;
  }
}


@media only screen and (max-width: 940px) {

    .hero {
        margin: 0px 5% 100px 5%;

    } 

  .text {
    max-width: 100%;
    margin-right: 5%;
  }

  #outter_charlie {
	font-size: 18px;
	line-height: 38px;
	padding: 200px 5% 0px 5%;
  max-width: 100%;
	}

  #outter_delta {
  font-size: 18px;
  line-height: 38px;
  padding: 200px 5% 0px 5%;
  }

	#div6, #div8 {
	font-size: 18px;
	line-height: 38px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 50px;
	width: 100%;
	}

  #div9 {
  font-size: 18px;
  line-height: 38px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 50px;
  width: 100%;
  }

  #div7 {
    padding-bottom: 00px;
    width: 100%;
  }

  .column_beta_right, .column_beta_left{
    width: 100%;
  }

  .itemwrapper_left {
  display: table;
  width: 100%;
  }

  .itemwrapper_right {
  display: none;
  }

  .article p {
  font-size: 18px;
  line-height: 38px;
  margin: 0px 5% 40px 5%;
  max-width: 770px;
}

.article h2 {
  font-size: 24px;
  margin: 150px 5% 40px 5%;
  font-weight: normal;
  align-content: center;
}


@media only screen and (max-width: 760px) {

    body {
    }

    p {
        font-size: 18px;

    }

  .about {
    margin: 50px 5% 100px 5%;
    max-width: 100%;
  }

  .text h1 {
        font-size: 46px;
        line-height: 68px;
        max-width: 100%;
  }

  .text h2 {
        max-width: 100%;
        margin: 40px 0% 200px 0%; 
  }

    .hero__text h1 {
      font-size: 24px;
      line-height: 38px;
    }


    .nav-items {
      float: right;
      display: block;
      width: 25%;
      margin: 0px, 0px, 0px, 10px;
      text-align: right;
    }

    .text a {
      width: 100%;
    }

    #container_div3 {
      width: 100%;
      padding-bottom: 60px;
    }

     #container_div4 {
      width: 100%;
      padding-bottom: 60px;
    }

      #container_div5 {
      width: 100%;
      padding-bottom: 60px;
      float: left;
      text-align: left;
    }

    .content_text {
      margin: 200px 5% 200px 5%;
    }

  .nav-items {
  display: none;
  }

  .hamburger{
    display: block;
    font-size: 20px;
    line-height: 16px;
  }
}
}

@media only screen and (max-width: 600px) {
  
  .site-nav {
  margin: 20px 5% 0px 5%;   /* Removes default margins from h1 element */
}

  .overlay .closebtn {
      top: 20px;
  }

}

#padding_block_200 {
  min-height: 200px;
}

#padding_block_50 {
  min-height: 50px;
}

#padding_block_250 {
  min-height: 250px;
}

#padding_block_100 {
  min-height: 100px;
}

.service_tags {
  padding: 100px 0px 100px 5%;
}

.service_tags h1 {
 font-size: 24px;
 padding-bottom: 40px;
}

.service_tags p {
 padding-bottom: 20px;
 font-size: 18px;
}
